<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @return_request.date %>
</p>

<%= link_to 'Edit', edit_return_request_path(@return_request) %> |
<%= link_to 'Back', return_requests_path %>
